.p-0 {
    background-image: linear-gradient(rgba(128,0,0, 0.80),rgba(139,0,0, 0.60));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 170em;
    display:flex;
    flex-direction: column; 
    align-items: center;
    color: white;
}
.p-0 h1 {
    font-size: 3rem;
    text-align: center;
    width: 100%; 
    filter: drop-shadow(3px 2px 2px black);
}
.p-0 p{
    font-size: 20px;
    text-align: justify;
    width: 90%; 
    margin-top: 5px; 
    padding: 1em;
    border-radius: 15px; 
    background: linear-gradient(rgba(128,0, 0, 0.75),rgba(128, 0, 0, 0.75));
}
.p-0 img{
    margin-top: 15px;
    height: 145em;
    width: 90%;
    border: 5px solid gold;
    border-radius: 15px;
    filter: drop-shadow(10px 5px 5px maroon);
}